h1 {
    margin-top: 2rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
    padding-top: 0.5rem;
    padding-left: 0.75rem;
}

.paw-rating {
    max-width: 37%;
    padding-bottom: 1rem;
    padding-right: 0.25rem;

}

#searchMessage {
    margin-top: 1rem;
}

.spinner-border {
    margin: 5rem;
}

#spinner {
    display: none;
}

.card-img-top:hover {
    opacity: 0.7;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0px;
    z-index: 100;
}

.test-overlay {
    justify-content: flex-start;
    align-items: center;
}

.close-btn-container {
    display: flex;
    width: 800px;
    max-width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1rem;
}

.close-icon-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 1.5rem;
}

.close-btn {
    width: 1.5rem;
    margin-bottom: 0.5rem;
}

.close-btn:hover {
    opacity: 0.7;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#testButton, #nextButton {
    margin: 2rem;
}

.test-question-container {
    margin-top: 3rem;
}

.icon {
    width: 1.5rem;
}

.title-container {
    padding: 0px;
    align-items: flex-start;
}

.sort-option-li {
    padding-right: 1rem;
}

.options-list {
    display: inline-flex;
    margin: 1rem 0;
    padding-right: 2rem;
}

#sortAndFilter {
    padding: 1rem 0px 1rem 0px;
}

#filterOptions, #sortOptions {
    width: 1col;
}

.filter-options-label {
    margin-right: 1rem;
}

.filter-badge {
    font-weight: bolder;
    padding: 0.5rem;
    margin: 0.5rem;
}