.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
    padding-top: 0.5rem;
    padding-left: 0.75rem;
}

.paw-rating {
    max-width: 37%;
    padding-bottom: 1rem;
    padding-right: 0.25rem;

}